*{
    margin: 5px;
    padding: 0;
}
.azul-header{
    border: 10px solid #B8BDE6;
    background-color: #D4EEF9;
    height: 15vh;
}
.azul-nav{
    display: inline-block;
    border: 10px solid #B8BDE6;
    background-color: #D4EEF9;
    height: 75vh;
    width: 13vw;
}
.azul-section{
    border: 10px solid #B8BDE6;
    background-color: #D4EEF9;
    display: inline-block;
    height: 75vh;
    width: 82.2%;
}
.azul-footer{
    border: 10px solid #B8BDE6;
    background-color: #D4EEF9;
    height: 15vh;    
}
.verde-header{
    border: 10px solid #B4DFCD;
    background-color: #DAEFE5;
    height: 15vh;
}
.verde-section{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #B4DFCD;
    background-color: #DAEFE5;
    display: inline-block;
    height: 75vh;
    width: 67.3%;
}
.verde-nav{
    border: 10px solid #B4DFCD;
    background-color: #DAEFE5;
    display: inline-block;
    height: 75vh;
    width: 13vw;
}
.verde-footer{
    border: 10px solid #B4DFCD;
    background-color: #DAEFE5;
    height: 15vh;    
}
.amarelo-header{
    border: 10px solid #FFF5B6;
    background-color: #FFFADB;
    height: 15vh;
}
.amarelo-section{
    border: 10px solid #FFF5B6;
    background-color: #FFFADB;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 75vh;
    width: 82.2%;
}
.amarelo-nav{
    border: 10px solid #FFF5B6;
    background-color: #FFFADB;
    display: inline-block;
    height: 75vh;
    width: 13vw;
}
.amarelo-footer{
    border: 10px solid #FFF5B6;
    background-color: #FFFADB;
    height: 15vh;    
}